<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  {{!-- AJAX --}}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script defer src="/js/cities.js"></script>
  <script defer src="/js/weather.js"></script>
  <script defer src="/js/quotes.js"></script>
  <script defer src="/js/spaceflightnews.js"></script>
  <script defer src="/js/guardian.js"></script>
  <script defer src="/js/rickandmorty.js"></script>
  <script defer src="/js/catfacts.js"></script>
  <script defer src="/js/application.js"></script>
  {{!-- AJAX --}}
  <title class="site-title">{{title}}</title>
</head>
