<nav class="my-tourq">

  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link white-text" href="/">the small talk generator</a>
    </li>
    <li class="nav-item">
      <a class="nav-link white-text" href="/about">about</a>
    </li>
  </ul>

</nav>
