<div class="wrapper-about"></div>

<div class="content">
  <p class="about-content">have you ever been lost for words at a date?
    have you ever found someone super cool, but never knew how to approach them?
    have you ever looked for a way to connect or reconnect with your child or spouse?
    it’s not just you. we’ve all been there.
    but that’s about to change.
    <br><br>
    introducing Genny, the small talk generator!
    with Genny, you can find a captivating yet uncontroversial topic to start a conversation or keep it going at the
    press of a button.
    <br><br>
    with over 9 trillion possible topics (we did the math!) you are sure to never run out.
    from the local weather to fun facts about films, history or astronomy,
    you are sure to find the little spark that will ignite a great conversation.
  </p>
</div>
