<div class="wrapper-big">

  <form action="/choose" method="POST" class="choose-form">
    <div class="choose-wrapper">
      <label for="APIs">choose a topic: </label>

      <select name="APIs" id="APIs">
        <option value="cat-facts">cat facts</option>
        <option value="rick-and-morty">rick and morty</option>
        <option value="the-guardian-cinema">the guardian - cinema</option>
        <option value="the-guardian-sport">the guardian - sports</option>
        <option value="the-guardian-food">the guardian - food</option>
        <option value="space-flight-news">space flight news</option>
        <option value="nasa-short">nasa apod</option>
        <option value="nasa-full">nasa apod - full text</option>
        <option value="harvard-art">harvard art museum</option>
        <option value="famous-quotes">famous quotes</option>
        <option value="weather">weather</option>
      </select>
    </div>

    <input type="submit" value="generate some small talk!" class="my-pink generate-btn choose-button">

  </form>

</div>

<div class="content"></div>
