<br><br>

<div class="wrapper">

  <form>
    <div class="choose-wrapper">
      <label for="APIs">Choose your topic:</label>

      <select name="APIs" id="APIs">
        <option value="cat-facts">Cat Facts</option>
        <option value="rick-and-morty">Rick and Morty</option>
        <option value="the-guardian">The Guardian</option>
        <option value="space-flight-news">Space Flight News</option>
      </select>

    </div>

    <button type="button" class="my-pink generate-btn choose-button">generate some small talk!</button>
  </form>

</div>

<div class="content">

</div>
