<div class="wrapper">

  <form action="/" method="POST" class="random-form">
    <button type="submit" class="my-pink random-button generate-btn">generate some small talk!</button>
  </form>
</div>

<div class="content">

</div>
