.white-text {
  color: #fff;
}

.my-tourq {
  background-color:#09CAD6;
  border: #09CAD6;
}

.my-ochre {
  background-color: #D69009;
  border:#D69009;
}

.my-pink {
  background-color:#D61E91;
  border: #D61E91;
}

.my-dark-pink {
  background-color: #8A0657;
  border: #8A0657;
}

.my-blue {
  background-color: #0C828A;
  border:#0C828A;
}

/* elements on index page */

.wrapper {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generate-btn {
  border-radius: 90px;
  height: 40px;
  width: 300px;
}

.content {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  color: #095ed6;
}

