.white-text {
  color: #fff;
}

.my-tourq {
  background-color:#09CAD6;
  border: #09CAD6;
  color: white;
}

.my-dark-blue {
  background-color:#095ed6;
  border:#095ed6;
  color: white;
}

.my-pink {
  background-color:#D61E91;
  border: #D61E91;
  color: white;
}

.my-dark-pink {
  background-color: #8A0657;
  border: #8A0657;
  color: white;
}

.my-blue {
  background-color: #0C828A;
  border:#0C828A;
  color: white;
}

/* .my-tourq.my-ochre.my-pink.my-dark-pink.my-blue:hover {
  background-color: #095ed6;
  border:#095ed6;
} */

/* elements on index page */

.wrapper {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generate-btn {
  border-radius: 100px;
  min-height: 100px;
  width: 320px;
  font-size: x-large;
}

.generate-btn:hover {
  background-color: #095ed6;
}

.generate-btn:focus {
  outline: 0;
}

.content {
  margin: auto;
  min-height: 600px;
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.small-talk {
  margin: 0.5em;
  margin-bottom: 0;
  padding: 0.7em 1.2em;
  border-radius: 90px;
  font-size: medium;
}

.source {
  font-size: small;
}

image {
  padding-top: 0.2em;
}

footer {
  color: #095ed6;
}

/* elements on choose page */

.choose-wrapper {
  padding-top: 2em;
  padding-bottom: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
